<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.gricar.brezskrbnik"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:name="edu.gricar.brezskrbnik.ApplicationBrezskrbnik" android:icon="@drawable/icon" android:label="@string/app_name">
    <uses-library android:name="com.google.android.maps" />
        <activity android:label="@string/app_name" android:name="ActivityBrezskrbnik">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="ActivityAsistenca">
            <intent-filter>

            </intent-filter>
        </activity>
        <activity android:name=".ActivitySporociLokacijo"
                  android:label="@string/app_name">
            <intent-filter>

            </intent-filter>
        </activity>
		<activity android:label="@string/app_name" android:name="KjeSemActivity">
			<intent-filter>

			</intent-filter>
		</activity>
		<activity android:label="@string/app_name" android:name="ActivityBudilka">
			<intent-filter>

			</intent-filter>
		</activity>
		<activity android:label="@string/app_name" android:name="Opomniki">
			<intent-filter>

			</intent-filter>
		</activity>
			<activity android:label="@string/app_name" android:name="CalendarActivity">
			<intent-filter>

			</intent-filter>
		</activity>	
		<activity android:label="@string/app_name" android:name=".budilka.AlarmActivity">
			<intent-filter>
			</intent-filter>
		</activity>	
		 <service android:name=".budilka.MyAlarmService" android:process=":remote" />
			

    </application>
    	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
	<uses-sdk android:minSdkVersion="8" />
</manifest>