<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="edu.gricar.brezskrbnik"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".ApplicationBrezskrbnik" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:label="@string/app_name"
            android:name="ActivitySplashScreen" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="ActivityBrezskrbnik" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".pomoc.List11" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".vreme.ActivityVreme" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".navigacija.KjeSemActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".koledar.Opomniki" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".koledar.KoledarActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".koledar.CalendarActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".budilka.AlarmActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".pomoc.ActivitySenzor" >
        </activity>

        <service
            android:name=".budilka.MyAlarmService"
            android:process=":remote" />

        <activity
            android:label="@string/app_name"
            android:name=".MenuPreferences" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".nastavitve.MenuNastavitve" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".pomoc.ActivityO" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".MenuPreferences" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".pomoc.ActivityPomoc" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".krizciKrozci.MainActivity" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
             This is defined in TicTacToeLib. Right now we need to manually
             copy it here. Eventually it should get merged automatically.
        -->
        <activity
            android:label="@string/app_name"
            android:name=".krizciKrozci.GameActivity" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".service.ServiceConsumerActivity" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.MyWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name=".widget.UpdateWidgetService" />
        <service android:name=".service.WordService" >
        </service>
    </application>

    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-sdk android:minSdkVersion="4" />

</manifest>